.menu{
    margin-bottom:10px
}
.logoimg{
        width:100%;
}
.menu{
    width :220px;
}

  
.contact{
    position : fixed;
    font-size : 0.8rem;
    display: flex;
    /* flex-direction: column; */
    row-gap:20px;
    top:10px;
    right: 30vw;
    /* border-style: solid;; */
    border-width:1px;
    border-radius:10px;
    padding-left:5px;
    padding-top:5px;
    background-color:beige;

}
.contact1{
    position : fixed;
    font-size : 0.8rem;
    display: flex;
    /* flex-direction: column; */
    row-gap:20px;
    top:10px;
    right: 15vw;
    /* border-style: solid; */
    border-width:1px;
    border-radius:10px;
    padding-left:5px;
    padding-top:5px;
    background-color:beige;

}
.contact3{
    position:fixed;
    font-size:0.8rem;
    background-color:beige;
    top:15px;
    right: 50vw;
    padding:5px;
    border-radius:10px


}
.pdf{
    position: fixed;    
    box-sizing: border-box;
    top:30vh;
    right:15px;
    font-size: 0.8rem;
    width : 60px;
    display :flex;
    flex-direction: column;
    align-items: center;

}
.para{
 text-align: center;
}
.card-img-top{
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}

.page-body {
    display: inline-block; /* Keep the container size based on content */
    margin: 10px; /* Adjust as needed */
    padding: 0; /* No padding */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    border-radius: 5px; /* Optional: add rounded corners */
    overflow: hidden; /* Clip the shadow to container */
    transition: transform 0.2s, box-shadow 0.2s; /* Add smooth transitions */
}

.page-body:hover {
    transform: translateY(-5px); /* Lift the container on hover */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8); /* Adjust shadow on hover */
} 
.pop:hover{
    transform: translateY(-5px); /* Lift the container on hover */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8); /* Adjust shadow on hover */
    border-radius: 4px;
}
