.menu{
    margin-bottom:10px
}
.logoimg{
        width:100%;
}
.menu{
    width :220px;
}

  
.contact{
    position : fixed;
    font-size : 0.8rem;
    display: flex;
    /* flex-direction: column; */
    row-gap:20px;
    top:10px;
    right: 30vw;
    /* border-style: solid;; */
    border-width:1px;
    border-radius:10px;
    padding-left:5px;
    padding-top:5px;
    background-color:beige;

}
.contact1{
    position : fixed;
    font-size : 0.8rem;
    display: flex;
    /* flex-direction: column; */
    row-gap:20px;
    top:10px;
    right: 15vw;
    /* border-style: solid; */
    border-width:1px;
    border-radius:10px;
    padding-left:5px;
    padding-top:5px;
    background-color:beige;

}
.contact3{
    position:fixed;
    font-size:0.8rem;
    background-color:beige;
    top:15px;
    right: 50vw;
    padding:5px;
    border-radius:10px


}
.pdf{
    position: fixed;    
    box-sizing: border-box;
    top:30vh;
    right:15px;
    font-size: 0.8rem;
    width : 60px;
    display :flex;
    flex-direction: column;
    align-items: center;
    
    /* background-color: cyan; */
    
    
}
.para{
 text-align: center;
}
